nav.navbar-default
{
	background-color: #00FF1E;
}

nav ul.nav li
{
	margin-right: 50px;
}

nav div.navbar-header a
{
	font-size: 29px;
}

nav ul button.btn-default
{
	height: 31px;
	width: 124px;
}

nav ul input.form-control
{
	border-radius: 0%;
	height: 31px;
}

nav li form.navbar-form
{
	padding-left: 0; 
}

nav ul a.btn
{
	border-radius: 0%;
	width: 31px;
	height: 31px;
	padding: 5px 5px 5px 5px;
}