html
{
	position: relative;
}

section
{
	width: 100%;
}

body
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

/* Navbar */

nav.navbar-default
{
	background-color: #00FF1E;
}

nav ul.nav li
{
	margin-right: 20px;
}

nav div.navbar-header a
{
	font-size: 29px;
}

nav ul button.btn-default
{
	height: 31px;
	width: 124px;
}

nav ul input.form-control
{
	border-radius: 0%;
	height: 31px;
	margin-right: 0;
}

nav li div.input-area
{
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;
}

nav ul.navbar-nav
{
	width: 68%;
}

nav ul a.btn
{
	border-radius: 0%;
	width: 31px;
	height: 31px;
	padding: 5px 5px 5px 5px;
	margin-right: 0;
}

nav li div.btn-area
{
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

/* Navbar */

/* Jumbotron */

div#galleryJumbotron
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}

div#galleryJumbotron div.carousel-inner
{
	width: 100%;
	height: 560px;
}

div#galleryJumbotron div.carousel-inner img
{
	width: 100%;
	height: 560px;
}

/* Jumbotron */

/* Body */

div.space-navbar
{
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: 64px;
}

section div.row
{
	margin-left: 0;
	margin-right: 0;
}

/* Body */

/* Search Filter */

div#filterSearch label.checkbox-label
{
	font-size: 12px;
}

section#searchPage div#filterSearch
{
	margin-top: 16px;
}

div.filterTitle
{
	margin-top: 24px;
}

/* Search Filter */

/* Account Sign Up - Sign In */

section#loginPage div#signUp
{
	border-right: 2px solid lightgray;
}

div.loginTitle
{
	margin-top: 20px;
	margin-bottom: 20px;
}

section div#signUp input,
section div#signIn input
{
	margin-bottom: 16px;
}

section#loginPage label.checkbox-label
{
	font-size: 12px;
}

section#loginPage button
{
	margin-top: 16px;
	width: 96px;
}

/* Account Sign Up - Sign In */

/* Account Info */

section#accountPage div.nav-tab
{
	display: block;
}

section#accountPage div.center-line
{
	height: 100%;
	border-right: 2px solid lightgray;
}

section#accountPage div.nav-tab a
{
	font-size: 24px;
	color: black;
}

section#accountPage ul a.tab-menu:hover,
section#accountPage ul a.tab-menu:focus
{
  text-decoration: none;
}

section#accountPage ul li
{
	list-style: none;
	margin: 51% 0 51% 0;
}

/* Account Info */

/* Footer */

footer .footer-website
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 36px;
	padding-top: 10px;
	background-color: #00FF1E;
}

/* Footer */
