html
{
	position: relative;
}

section
{
	width: 100%;
}

body
{
	margin: 42px 0 0 0;
	padding: 0 0 0 0;
	margin-left: 0;
	margin-right: 0;
}

/* Body */

div.space-navbar
{
	width: 100%;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	height: 24px;
}

section div.row
{
	margin-left: 0;
	margin-right: 0;
}

/* Body */

/* Navbar */

nav.navbar-default
{
	background-color: #6D6D6D;
	border-bottom: 0;

	font-family: 'Marlboro';
  font-style: normal;
  font-weight: 400;
  src: local('Marlboro'), local('Marlboro'), url(../fonts/Marlboro.ttf) format('ttf');
}

nav ul.nav li
{
	margin-right: 20px;
}

nav div.navbar-header a
{
	font-size: 29px;
}

nav a.navbar-brand
{
	color: #dcdcdc !important;
	font-family: 'GreatVibes-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('GreatVibes-Regular'), local('GreatVibes-Regular'), url(../fonts/GreatVibes-Regular.ttf) format('ttf');  
}

nav ul input.form-control
{
	border-radius: 0%;
	height: 31px;
	margin-right: 0;
}

nav li div.input-area
{
	margin-right: 0;
	padding-right: 0;
	padding-left: 0;
}

nav ul.navbar-nav
{
	width: 70%;
}

nav ul a.btn
{
	border-radius: 0%;
	width: 31px;
	height: 31px;
	padding: 5px 5px 5px 5px;
	margin-right: 0;
}

nav li div.btn-area
{
	margin-left: 0;
	padding-left: 0;
	padding-right: 0;
}

/* Navbar */

/* Jumbotron */

div#galleryJumbotron
{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	width: 100%;
	height: auto;
}

div#galleryJumbotron div.carousel-inner img
{
	width: 100%;
	height: auto;
}

/* Jumbotron */

/* Search Filter */

div#filterSearch label.checkbox-label
{
	font-size: 12px;
}

section#searchPage div#filterSearch
{
	margin-top: 16px;
}

div.filterTitle
{
	margin-top: 24px;
}

/* Search Filter */

/* Account Sign Up - Sign In */

section#loginPage div#signUp
{
	border-right: 2px solid lightgray;
}

div.loginTitle
{
	margin-top: 20px;
	margin-bottom: 20px;
}

section div#signUp input,
section div#signIn input
{
	margin-bottom: 16px;
}

section#loginPage label.checkbox-label
{
	font-size: 12px;
}

section#loginPage button
{
	margin-top: 16px;
	width: 96px;
}

/* Account Sign Up - Sign In */

/* Account Info */

section#accountPage div.nav-tab
{
	display: block;
}

section#accountPage div.center-line
{
	height: 100%;
	border-right: 2px solid lightgray;
}

section#accountPage div.nav-tab a
{
	font-size: 24px;
	color: black;
}

section#accountPage ul a.tab-menu:hover,
section#accountPage ul a.tab-menu:focus
{
  text-decoration: none;
}

section#accountPage ul li
{
	list-style: none;
	margin: 51% 0 51% 0;
}

td.td-space
{
	width: 128px;
}

/* Account Info */

/* Account Identity */

div#accountIdentityPage
{
	padding-top: 12%;
}

/* Account Identity */

/* Car List */

section#carList div.itemList
{
	padding: 8px 8px 8px 8px;
	max-width: 100%;
	height: auto;
	transform: translate(0, 0);
}

section#carList div.itemList:hover
{
	background-color: #e3e6ea;
}

section#carList div.itemList img
{
	margin-bottom: 8px;
	width: 100%;
	height: auto;
}

section#carList div.itemList div
{
	padding: 0 0 0 0;
}

section#carList div.itemList button.btn-default
{
	border-radius: 5%;
	margin: 0 0 0 0;
	width: 90%;
}

/* Car List */

/* Chart Empty */

section#chartEmpty a
{
	color: black;
}

section#chartEmpty a:hover,
section#chartEmpty a:focus
{
  text-decoration: none;
  color: grey;
}

section#chartEmpty div.space
{
	margin-top: 6%;
}

section#chartEmpty div.imageEmpty
{
	height: 112px;
}

section#chartEmpty div.imageEmpty img
{
	height: 100%;
}

/* Chart Empty */

/* Chart List */

section#chartList
{
	width: 100%;
}

section#chartList div.itemList
{
	width: 100%;
	max-height: 280px;
	padding: 8px 0px 8px 8px;
}

section#chartList div.frameThumb
{
	width: 256px;
}

section#chartList div.frameImage
{
	max-width: 100%;
	max-height: 100%;
}

section#chartList div.frameImage img
{
	width: 100%;
	height: auto;
}

section#chartList div.quantityCount,
section#chartList div.quantityCountH5
{
	padding: 0 0 0 0;
	margin: 8px 0 0 0;
	text-align: center;
	width: 28px;
	height: 28px;
}

section#chartList div.quantityCountH5
{
	border: 1px solid lightgray;	
}

section#chartList div.quantityCountH5 h5
{
	width: 100%;
	height: 100%;
	margin: 6px 0 6px 0;
}

section#chartList div.itemList a.btn-default
{
	width: 28px;
	height: 28px;
	border: 1px solid lightgray;
	border-radius: 5%;
	padding: 1px 1px 1px 1px;
}

section#chartList div.frameDescrypt
{
	padding-left: 0;
	width: 60%;
	background-color: lightgray;
}

section#chartList hr
{
	width: 78%;
	border-bottom: 2px solid gray;
}

section#chartList div.btnPos
{
	width: 90%;
	margin-bottom: 16px;
}

section#chartList button.btn-default
{
	height: 32px;
	border-radius: 5%;
	box-shadow: 1.5px 1.5px 1px gray;
}

/* Chart List */

/* Chart Pay Now */

section#chartPayNow hr
{
	width: 100%;
	border: 1px solid black;
}

section#chartPayNow table
{
	width: 100%;
}

section#chartPayNow table tr
{
	height: 32px;
}

section#chartPayNow table tr.rowHeight
{
	height: 72px;
}

section#chartPayNow table td
{
	width: 42%;
}

section#chartPayNow table td.colCenter
{
	width: 16%;
}

section#chartPayNow table td button.btn-default
{
	padding: 4px 10px 4px 10px;
	border-radius: 5%;
	height: 30px;
	width: 96px;
	box-shadow: 1.5px 1.5px 1px gray;
}
/* Chart Pay Now */

/* Footer */

footer .footer-website
{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 36px;
	padding: 10px 0 0 0;
	margin-bottom: 0;
	color: #dcdcdc;
	background-color: #6D6D6D;
}

/* Footer */